<html>

<head>
  <link rel="stylesheet" href="/css/blogcss.css" />
  <%- include('../views/partials/links'); %>

</head>

<body>

  <!-- header part -->

  <nav class="navbar navbar-expand-lg bg-primary navbar-light">
    <div class="container mt-1">
      <h2 class="text-white">PROD</h2>
      <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse"
        data-target="#collapsenavbar">
        <span class="navbar-toggler-icon "></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="collapsenavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item px-2">
            <a href="/attendancePage" class="nav-link text-white"> ADD ATTENDANCE </a>
          </li>
          <li class="nav-item px-2">
            <a href="/companies" class="nav-link text-white"> HOME </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- page content -->

  <div class="container mt-5">
    <h2 class="text-center">Search Monthwise Attendance Here</h2>
    <div class="d-flex justify-content-center">
      <form class="col-md-6 mt-4" id="profile" action="/searchAttendance" method="post">

        <div class="row mx-md-n2">
          <div class="col px-md-2">
            <label for="month">Month</label>
            <input type="text" class="form-control" id="month" name="month" required>
          </div>
          <div class="col px-2">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" name="year" required>
          </div>
        </div>

        <div class="form-group"></div>
        <button type="submit" class="btn btn-info mt-2">Submit</button>
        <button class="btn btn-danger mt-2 ml-2"><a href="/serachAttendance" class="text-light"> Back </a></button>
        
    </div>
    </form>
  </div>


  <!-- <%- include('../views/partials/footer'); %> -->

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

</body>

</html>