<html>

<head>
  <link rel="stylesheet" href="/css/blogcss.css" />
  <%- include('../views/partials/links'); %>

</head>

<body>

  <!-- header part -->

  <nav class="navbar navbar-expand-lg bg-primary navbar-light">
    <div class="container mt-1">
      <h2 class="text-white">PRODY</h2>
      <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse"
        data-target="#collapsenavbar">
        <span class="navbar-toggler-icon "></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="collapsenavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item px-2">
            <a href="/calculationView" class="nav-link text-white"> ADD CALCULATION </a>
          </li>
          <li class="nav-item px-2">
            <a href="/companies" class="nav-link text-white"> HOME </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- page content -->

    <div class="container mt-4">
    
      <div class="d-flex justify-content-center">
        
            <form class="col-md-6 mt-3" id="profile" action="/calculationDay" method="post">
              <div class="form-group justify-content-center">
                <div class="container">
              <h4>Search Calculation Here</h4>
              </div>
              </div>
              <div class="form-group mt-3">
                <div class="container ">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>
              </div>
              <div class="form-group">
                <div class="container ">
                  <button type="submit" class="btn btn-info mt-2">Submit</button>
                  <button class="btn btn-danger mt-2 ml-2"><a href="/calculationView" class="text-light"> Back </a></button>
                </div>
              </div>
        </form>
       </div>
      </div>
    



      <!-- <div class="container mt-4">
      
        <div class="d-flex justify-content-center">
      
           <h4>Search Monthwise Attendance Here<h4>
          <form class="col-md-6 mt-3" id="profile" action="/calculation" method="post">

            <div class="form-group">
              
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date" required>
              </div>
  
            </div>

            <div class="form-group"></div>
            <button type="submit" class="btn btn-info mt-2">Submit</button>
            <button class="btn btn-danger mt-2 ml-2"><a href="/companies" class="text-light"> Back </a></button> -->

    </div>
    </form>
  </div>


  <!-- <%- include('../views/partials/footer'); %> -->

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

</body>

</html>